<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>vue-component</title>
	<script src="vue.js"></script>
</head>
<body>
		<div id="example">
			<my-component class="baz boo"></my-component>
		</div>
		<div id="example-2">
			<simple-counter></simple-counter>
			<simple-counter></simple-counter>
			<simple-counter></simple-counter>
		</div>
		<child message="hello"></child>
		<!-- <div id="cy">
			<input type="text" v-model="parentMsg">
			<br>
			<child v-bind:my-message="parentMsg"></child>
		</div> -->

		<div id="counter-event-example">
			<p>{{total}}</p>
			<button-counter v-on:increment="incrementTotal"></button-counter>
			<button-counter v-on:increment="incrementTotal"></button-counter>
		</div>
		<my-component v-bind:click.native="doTheThing"></my-component>
		<currency-input v-model="price"></currency-input>

	<script>
		Vue.component('my-component',{
			template:'<p class="foo bar">Hi</p>'
		});
		new Vue({
			el:'#example'
		})
		var data={counter:0}
		Vue.component('simple-counter',{
			template:'<button v-on:click="counter+=1">{{counter}}</button>',
			data:function(){
				return {
					counter:0
				}
			}
		}) 
		new Vue({
			el:"#example-2"
		})
		//使用Prop传递数据
		// Vue.component('child',{
		// 	props:['message'],
		// 	template:'<span>{{message}}</span>'
		// })
		// new Vue({
		// 	el:"#cy"
		// })
		Vue.component('button-counter',{
			template:'<button v-on:click="increment">{{counter}}</button>',
			data:function(){
				return{
					counter:0
				}
			},
			methods:{
				increment:function(){
					this.counter+=1
					this.$emit('increment')
				}
			}

		})
		new Vue({
			el:'#counter-event-example',
			data:{
				total:0
			},
			methods:{
				incrementTotal:function(){
					this.total+=1
				}
			}
		})
		Vue.component('currency-input',{
template:'<span>$<input ref="input" v-bind:value="value" v-on:input="updateValue($event.taget.value)"></span>',
			props:['value'],
			methods:{
				updateValue:function(value){
					var formattedValue=value
					.trim()
					.slice(0,value.indexOf('.')+3)
					if(formattedValue!==value){
						this.$refs.input.value=formattedValue
					}
					this.$emit('input',Number(formattedValue))
				}
			}

		})
		//编译作用域
	</script>
</body>
</html>